.s-popup--theme_default {
	.s-popup {
		@at-root {
			&--wrapper {
				border-radius: 4px;
				animation-duration: 0.3s;
				box-shadow: 0 0 10px 2px rgb(from var(--base-color-lighter-inverse) r g b / 30%);
			}
		}
	}

	&.closed {
		.s-popup--wrapper {
			animation-fill-mode: both;
		}
	}

	&:not(.ttb, .rtl, .btt, .ltr) {
		.s-popup--wrapper {
			animation-name: fade-in;
		}
	}

	&.ttb {
		.s-popup--wrapper {
			animation-name: ttb;
		}
	}

	&.rtl {
		.s-popup--wrapper {
			animation-name: rtl;
		}
	}

	&.btt {
		.s-popup--wrapper {
			animation-name: btt;
		}
	}

	&.ltr {
		.s-popup--wrapper {
			animation-name: ltr;
		}
	}

	&.ttb,
	&.rtl,
	&.btt,
	&.ltr {
		.s-popup--wrapper {
			animation-duration: 0.5s;
		}
	}
}
