.s-popup--theme_default {
	border-radius: 4px;
	animation-name: fade-in-center;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
  box-shadow: 0 0 10px 2px rgb(from var(--base-color-lighter-inverse) r g b / 30%);

	&.ttb,
	&.rtl,
	&.btt,
	&.ltr {
		animation-duration: 0.5s;
	}

	&.ttb {
		animation-name: ttb-center;
	}

	&.rtl {
		animation-name: rtl;
	}

	&.btt {
		animation-name: btt-center;
	}

	&.ltr {
		animation-name: ltr;
	}
}
