.s-radio--theme_default {
	.s-radio {
		@at-root {
			&--case {
				&::after {
					transition: transform 0.25s ease;
				}

				&::before {
					transition: transform 0.25s ease;
				}
			}
		}
	}

	&:hover {
		.s-radio--case {
			border-color: var(--color-theme-500);
		}
	}

	&:active {
		.s-radio--case {
			background-color: var(--color-base-250);

			&::after {
				transform: translateY(-50%) scale(0.25);
			}

			&::before {
				transform: translateY(-50%) scale(0);
			}
		}
	}
}
