.s-button {
	display: inline-block;
	border-radius: 4px;
	transition: 0.1s;

	&::after {
		transition: background-color 0.25s ease;
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--s-button-color-text-hover);
		border-color: var(--s-button-color-border-hover);

		&::after {
			background-color: var(--s-button-color-bg-hover);
		}
	}

	&--primary {
		&:focus {
			&::after {
				filter: saturate(0.6);
			}
		}

		&:active {
			&::after {
				filter: saturate(1);
			}
		}
	}
}
