@use 'sass:map';
@use './_variables' as var;

// 获取字体大小比例
@function text-get-ratio($scale, $step) {
	$ratio: 1; // 默认值

	@if $scale == small and map.has-key(var.$text-small-map, $step) {
		$ratio: map.get(var.$text-small-map, $step);
	} @else if $scale == large and map.has-key(var.$text-large-map, $step) {
		$ratio: map.get(var.$text-large-map, $step);
	} @else {
		@warn "text-get-ratio(): 无效的 scale 或 step，返回基础值";
	}

	@return $ratio;
}
