@use './_variables' as var;
@use './_function' as func;

@mixin absolute-center($x: true, $y: true) {
	position: absolute;

	@if $y {
		top: 50%;
	}

	@if $x {
		left: 50%;
	}

	transform: translate(#{if($x, '-50%', '0')}, #{if($y, '-50%', '0')});
}

@mixin set-z-index($number) {
	z-index: calc(var(--z-index-base, var.$z-index-base) + $number);
}

// 背景
@mixin bg($w, $h, $image) {
	width: $w;
	height: $h;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: func.get-image($image);
}

@mixin bg-border($width, $height, $image) {
	min-width: $width;
	height: $height;
	border-image-source: func.get-image($image);
}

@mixin bg-text($image) {
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-image: func.get-image($image);
}
