$global-theme-color: #6a11cb;
$global-theme-color-light: #f0e2ff;
$global-color-text: #333;
$global-color-text-light: #999;
$global-color-text-lighter: #777;
$global-color-icon: #666666;
$global-color-icon-lightest: #ccc;
$global-color-border: #e0e0e0;
$global-color-bg: #fff;
$global-color-bg-light: #f9f9f9;
$global-color-bg-lighter: #f2f2f2;
$global-color-bg-lightest: #e0e0e0;
$global-color-disabled: #ccc;
$global-font-size-h1: 36px;
$global-font-size-h2: 30px;
$global-font-size-h3: 24px;
$global-font-size-h4: 18px;
$global-font-size-h5: 14px;
$global-font-size-h6: 12px;
$global-z-index-top: 1000;
$global-shadow-box: 0 0 15px rgba(0, 0, 0, 0.4);
$global-radius-box: 2px;
