$global-theme-color: #6a11cb;
$global-theme-color-light: #f0e2ff;
$global-base-color: #dddddd;
$global-base-color-light: #eeeeee;
$global-base-color-lighter: #ffffff;
$global-base-color-inverse: #000000;
$global-base-color-light-inverse: #333333;
$global-base-color-lighter-inverse: #777777;

$global-font-size-h1: 32px;
$global-font-size-h2: 24px;
$global-font-size-h3: 18px;
$global-font-size-h4: 16px;
$global-font-size-h5: 14px;
$global-font-size-h6: 12px;
$global-z-index-top: 1000;
