@use './_variables' as var;
@use './function' as func;

:root {
	// 基础颜色
	--theme-color-50: #{var.$theme-color-50};
	--theme-color-500: #{var.$theme-color-500};

	--base-color-50: #{var.$base-color-50};
	--base-color-250: #{var.$base-color-250};
	--base-color-500: #{var.$base-color-500};

	--base-color-inverse-50: #{var.$base-color-inverse-50};
	--base-color-inverse-250: #{var.$base-color-inverse-250};
	--base-color-inverse-500: #{var.$base-color-inverse-500};

	--base-color-danger-500: #{var.$base-color-danger-500};

	// 扩展颜色
	--color-text-500: var(--base-color-inverse-500);
	--color-text-inverse-500: var(--base-color-50);
	--color-icon-500: var(--base-color-inverse-500);
	--color-border-500: var(--base-color-500);
	--color-bg-500: var(--base-color-250);

	// 字体大小
	--base-font-size-50: #{var.$base-font-size-50};
	--base-font-size-500: #{var.$base-font-size-500};

	// 标题大小
	@for $i from 1 through 6 {
		--font-size-h#{$i}: calc(var(--base-font-size-500) * #{func.font-size-multiplier($i)});
	}

	// 层级
	--z-index-500: #{var.$z-index-500};

	// 黑色主题
	&.dark {
		--base-color-inverse-50: #{var.$base-color-50};
		--base-color-inverse-250: #{var.$base-color-250};
		--base-color-inverse-500: #{var.$base-color-500};

		--base-color-50: #{var.$base-color-inverse-500};
		--base-color-250: #{var.$base-color-inverse-250};
		--base-color-500: #{var.$base-color-inverse-50};
	}
}
