@use './_mixin' as *;

@include b(input) {
	@include t() {
		@include e(wrapper) {
			transition-property: box-shadow, border-color;
			transition-duration: 0.2s;
			transition-timing-function: ease-in-out;

			&:hover {
				box-shadow: 0px 0px 4px 0px rgb(from var(--color-base-inverse-50) r g b / 0.2);
			}

			&:focus-within {
				--s-input-color-border: var(--theme-color-500);
				box-shadow: 0px 0px 4px 0px rgb(from var(--theme-color-500) r g b / 0.5);
			}
		}
	}
}
