@use "@nopon-web/styles/function/index" as fn;
@use "./_mixin" as mx;

@include mx.b(popup) {
	@include mx.t() {
		@include mx.e(wrapper) {
			border-radius: 4px;
			animation-duration: 0.3s;
			box-shadow: 0 0 10px 2px rgb(from var(--color-base-inverse-50) r g b / 30%);
		}

		&.closed {
			@include mx.e(wrapper) {
				animation-fill-mode: both;
			}
		}

		&:not(#{fn.when(ttb)}, #{fn.when(rtl)}, #{fn.when(btt)}, #{fn.when(ltr)}) {
			@include mx.e(wrapper) {
				animation-name: fade-in;
			}
		}

		@include mx.when(ttb) {
			@include mx.e(wrapper) {
				animation-name: ttb;
			}
		}

		@include mx.when(rtl) {
			@include mx.e(wrapper) {
				animation-name: rtl;
			}
		}

		@include mx.when(btt) {
			@include mx.e(wrapper) {
				animation-name: btt;
			}
		}

		@include mx.when(ltr) {
			@include mx.e(wrapper) {
				animation-name: ltr;
			}
		}

		&#{fn.when(ttb)},
		&#{fn.when(rtl)},
		&#{fn.when(btt)},
		&#{fn.when(ltr)} {
			@include mx.e(wrapper) {
				animation-duration: 0.5s;
			}
		}
	}
}
