@use './_mixin' as *;

@include b(popup) {
	@include t() {
		@include e(wrapper) {
			border-radius: 4px;
			animation-duration: 0.3s;
			box-shadow: 0 0 10px 2px rgb(from var(--color-base-inverse-50) r g b / 30%);
		}

		&.closed {
			@include e(wrapper) {
				animation-fill-mode: both;
			}
		}

		&:not(#{when(ttb)}, #{when(rtl)}, #{when(btt)}, #{when(ltr)}) {
			@include e(wrapper) {
				animation-name: fade-in;
			}
		}

		@include when(ttb) {
			@include e(wrapper) {
				animation-name: ttb;
			}
		}

		@include when(rtl) {
			@include e(wrapper) {
				animation-name: rtl;
			}
		}

		@include when(btt) {
			@include e(wrapper) {
				animation-name: btt;
			}
		}

		@include when(ltr) {
			@include e(wrapper) {
				animation-name: ltr;
			}
		}

		&#{when(ttb)},
		&#{when(rtl)},
		&#{when(btt)},
		&#{when(ltr)} {
			@include e(wrapper) {
				animation-duration: 0.5s;
			}
		}
	}
}
