@use '@nopon-web/styles/_mixin' as *;
@use '@nopon-web/styles/components/icon.scss';

@include b('icon') {
	--width-border: 1px;

	@include when('circle') {
		border-width: var(--width-border);
		border-style: solid;
		border-radius: 100%;
		transition: border-color 0.25s ease-in-out;
	}

	&.#{bem('icon', 'close')} {
		position: relative;
		height: var(--text-sm);
		width: var(--text-sm);

		&::before {
			position: absolute;
			height: 0;
			left: 0;
			top: 50%;
			display: block;
			content: '';
			width: 100%;
			border-bottom-width: var(--width-border);
			border-bottom-style: solid;
			border-color: inherit;
			transition: border-color 0.25s ease-in-out;
			transform: translateY(-50%) rotate(45deg);
		}

		&::after {
			position: absolute;
			left: 0;
			top: 50%;
			display: block;
			content: '';
			width: 100%;
			height: 0;
			border-bottom-width: var(--width-border);
			border-bottom-style: solid;
			border-color: inherit;
			transition: border-color 0.25s ease-in-out;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}
