@use '@nopon-web/styles/_variables' with (
	$size-root: 16
);
@use '@nopon-web/styles/theme' as theme;

@use './button.scss';
@use './dialog.scss';
@use './grid.scss';
@use './icon.scss';
@use './image.scss';
@use './input.scss';
@use './popup.scss';

:root {
	@include theme.vars;
}
