@use '@nopon-web/styles/_mixin' as *;

@include b(input) {
	--s-input-border-radius: 4px;
	--s-input-size-base: var(--text-sm);
	--s-input-size-D: 0px;
	--s-input-padding: 1px 10px;
	--s-input-color-border: var(--color-border-500);
	position: relative;
	display: inline-flex;
	width: 100%;
	font-size: 0;
	line-height: 1;

	@include e(wrapper) {
		display: inline-flex;
		flex-grow: 1;
		border-width: 1px;
		border-style: solid;
		border-color: var(--s-input-color-border);
		border-radius: var(--s-input-border-radius);
		padding: var(--s-input-padding);
		background-color: var(--color-base-250);
		overflow: hidden;

		&:hover {
			.#{bem('input', 'clearable')} {
				opacity: 1;
			}
		}
	}

	@include e(inner) {
		flex-grow: 1;
		min-width: 0;
		padding: 0;
		border: none;
		outline: none;
		font-size: var(--s-input-size-base);
		line-height: calc(var(--s-input-size-base) * 2);
		background-color: transparent;
		color: inherit;
	}

	@include e(clearable) {
		opacity: 0;
		display: inline-flex;
		align-items: center;
		height: calc(var(--s-input-size-base) * 2);
		padding-left: 2px;
		color: var(--color-border-500);
		background-color: var(--color-base-250);
		transition: opacity 0.2s ease-in-out;

		> i {
			color: inherit;
			cursor: pointer;
			filter: contrast(0.5);
		}
	}
}
