@use "@nopon-web/styles/function/index" as fn;
@use "@nopon-web/styles/mixin/index" as mx;

@include mx.b(button) {
	// 按钮颜色
	--s-button-theme-color: var(--color-theme-500);
	--s-button-theme-color-50: var(--color-theme-50);
	--s-button-color-text: var(--color-text-500);
	--s-button-color-text-hover: var(--s-button-theme-color);
	--s-button-color-bg: var(--color-base-250);
	--s-button-color-bg-hover: var(--s-button-theme-color-50);
	// 按钮尺寸
	--s-button-size: calc(30 * var(--size-unit));
	--s-button-size-text: var(--text-sm);
	--s-button-padding: calc(12 * var(--size-unit)) calc(14 * var(--size-unit));
	--s-button-gap: calc(10 * var(--size-unit));
	--s-button-round: calc(20 * var(--size-unit));

	position: relative;
	padding: var(--s-button-padding);
	border: none;
	line-height: 1;
	font-size: var(--s-button-size-text);
	box-sizing: border-box;
	cursor: pointer;
	color: var(--s-button-color-text);
	background-color: transparent;
	overflow: hidden;

	+ .#{fn.bem('button')} {
		margin-left: var(--s-button-gap);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--s-button-color-bg);
	}

	// 内容
	@include mx.e(content) {
		position: relative;
		z-index: 1;
	}

	// 类型
	@include mx.m(primary) {
		--s-button-color-text: var(--color-text-inverse-500);
		--s-button-color-bg: var(--s-button-theme-color);

		&:active,
		&:focus {
			--s-button-color-text-hover: var(--color-text-inverse-500);
			--s-button-color-bg-hover: var(--s-button-theme-color);
		}
	}

	// 大小
	@include mx.m(small) {
		--s-button-size: var(--text-2xl);
		--s-button-size-text: var(--text-xs);
		--s-button-padding: var(--text-4xs) var(--text-xs);
	}

	@include mx.m(large) {
		--s-button-size: var(--text-4xl);
		--s-button-padding: var(--text-sm) var(--text-lg);
	}

	// 椭圆
	@include mx.when(round) {
		border-radius: var(--s-button-round);
	}

	// 圆型
	@include mx.when(circle) {
		width: var(--s-button-size);
		height: var(--s-button-size);
		padding: 0;
		border-radius: 50%;
	}

	// 文本
	@include mx.when(text) {
		--s-button-color-bg: transparent;

		&.s-button--primary {
			--s-button-color-text: var(--s-button-theme-color);
		}
	}

	// 背景
	@include mx.when('no-bg') {
		--s-button-color-bg: transparent;
		--s-button-color-bg-hover: transparent;
		--s-button-color-text-hover: var(--s-button-theme-color);

		&.s-button--primary {
			--s-button-color-text: var(--s-button-theme-color);
		}
	}
}
