.animation-reset {
	animation-duration: auto !important;
	animation-timing-function: ease !important;
	animation-name: none !important;
}

.animation-reverse {
	animation-direction: reverse;
}

// 渐入
@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	1% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes ttb {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes rtl {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes btt {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes ltr {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0%);
	}
}
