@use './src/mixin' as *;

@use './animation.scss';

@use './src/button.scss';
@use './src/dialog.scss';
@use './src/input.scss';
@use './src/radio/index.scss' as radio;
@use './src/popup.scss';

// icon
@include b(icon) {
	color: var(--color-icon-500);
}
