@import './animation.scss';

@import './src/button/index.scss';
@import './src/input/index.scss';
@import './src/radio/index.scss';
@import './src/popup/index.scss';

// h标题
@for $i from 1 through 6 {
	.s-h#{$i} {
		margin: 0;
		line-height: 1;
	}
}

.s-h1 {
	font-size: var(--text-3xl);
}

.s-h2 {
	font-size: var(--text-2xl);
}

.s-h3 {
	font-size: var(--text-xl);
}

.s-h4 {
	font-size: var(--text-lg);
}

.s-h5 {
	font-size: var(--text-base);
}

.s-h6 {
	font-size: var(--text-sm);
}

// icon
.s-icon {
	color: var(--color-icon-500);
}
